<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses[0] as course">

    <course-card (courseSelectedEmitter)="oncourseClicked($event)" [course]="course">
        <div class="course-title"> {{course.description}}
        </div>
        <course-image [src]="course.iconUrl"></course-image>
        <course-image [src]="courses[1].iconUrl"></course-image>
        <course-image [src]="courses[2].iconUrl"></course-image>

        <h5>Total lectures: 10</h5>

        <div class="course-description">
            {{course.longDescription}}
        </div>

        Edit description: <textarea></textarea>
    </course-card>




</div>